<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div id="windowCreateInvoiceProductDialog" class="modal hide fade" tabindex="-1">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h3>Please enter a new name</h3>
					</div>
				<div class="modal-body">
					<div class="divDialogElements">
						Name:<input class="xlarge" id="xlInput" name="modal_code" type="text" />
						</div>
					</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cancel</a>
					<a href="#" class="btn btn-primary" >OK</a>
					<button type="button" class="btn btn-primary" onclick="okClicked ();">Save changes</button>
	
				</div>
		</div>
			<div class="divButtons">
				<a data-toggle="modal" href="#windowCreateInvoiceProductDialog" class="btn btn-primary">Test Modal</a>
			</div>			



<script type='text/javascript'>//<![CDATA[ 
$(window).load(function(){
$( ".selectpicker" ).selectpicker();
});//]]>  

</script>


		<script>

			function okClicked () {
				console.log("okClicked");
				$('#windowCreateInvoiceProductDialog').modal('hide'); 
			//	document.title = document.getElementById ("xlInput").value;
 				$("#post_name").val(document.getElementById ("xlInput").value);
				};
			
			$('#windowCreateInvoiceProductDialog').on('hidden.bs.modal', function (e) {
 				 	console.log("hidden");
				})

			
			    $(document).ready(function() {
     $('select#option').select2();
    });
			
			</script>


  <br><br>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
    <%= select_tag(:option, 
    	options_for_select([['All', 1], ['Co', 2], ['Bought', 3], ['View', 4], ['Top API', 5]] ) ) %>
  </div>
  
  <div class="bs-docs-example">
  <select class="selectpicker" data-live-search="true">
    <option>Hot Dog, Fries and a Soda</option>
    <option>Burger, Shake and a Smile</option>
    <option>Sugar, Spice and all things nice</option>
  </select>
</div>

<select 
    class="form-control selectpicker" 
    data-container="body" 
    data-live-search="true">        
    <option value="1">Option 1</option>
	<option value="2">Option 2</option>
	<option value="3">Option 3</option>
	<option value="4">Option 4</option>
    <option value="5">Option 5</option>								
</select>
  
  
  
  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
